fieldset {
  border: none;
  border-bottom: 1px dotted #CCC;
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  resize: vertical;
}

fieldset div[data-pep-send~="select"] {
  float: left;
  text-align: center;
  width: 80px;
  height: 80px;
  font: bold 32px/80px Arial Black, sans-serif;
  cursor: pointer;
  margin-right: 10px;
}

fieldset div[data-pep-send~="select"].pep-quiz-selected {
  color: blue;
  background: #CCF;
}
